In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/iambalakrishnan/Regression_models/main/Startups.csv")

In [15]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
#feature and target columns
X = df.iloc[:, :-1]
y = df.iloc[:, 4]

In [17]:
#Convert the column into categorical columns
#one hot encoding
states=pd.get_dummies(X['State'],drop_first=True)

In [18]:
# Drop the state coulmn
X=X.drop('State',axis=1)

In [19]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [20]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [21]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [22]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

In [23]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)